name: Detekt

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  security-events: write

jobs:
  detekt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Detekt
        uses: peter-murray/setup-detekt@v3
        with:
          detekt_version: '1.23.6'

      - name: Run Detekt
        run: detekt-cli --input . --config config/detekt/detekt.yml --build-upon-default-config --report sarif:detekt.sarif

      - name: Upload SARIF report
        uses: github/codeql-action/upload-sarif@v4
        if: success() || failure()
        with:
          sarif_file: detekt.sarif
