name: MobSF

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  security-events: write

jobs:
  mobsfscan:
    runs-on: ubuntu-latest
    name: mobsfscan
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Run mobsfscan
        uses: MobSF/mobsfscan@main
        with:
          args: '. --sarif --output results.sarif || true'

      - name: Upload mobsfscan report
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
