name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Decode Keystore
        env:
          ENCODED_STRING: ${{ secrets.KEYSTORE_BASE64 }}
        run: |
          if [ -z "$ENCODED_STRING" ]; then
            echo "KEYSTORE_BASE64 secret is missing. Skipping signing."
          else
            echo $ENCODED_STRING | base64 -d > keystore.jks
            echo "storeFile=../keystore.jks" > keystore.properties
            echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" >> keystore.properties
            echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> keystore.properties
            echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> keystore.properties
          fi

      - name: Build Release APK (Reproducible)
        run: ./gradlew clean assembleRelease --no-build-cache --no-configuration-cache --no-daemon

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: app/build/outputs/apk/release/*.apk
          generate_release_notes: true
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
